jupyter
numpy
pyzmq
scipy
pandas
matplotlib
statsmodels
scikit-learn
seaborn
nltk
gensim
sympy
bokeh
networkx
theano
requests
beautifulsoup4
plotly
psycopg2
pymongo
pyzmq
redis
requests
scipy
scrapy
statsmodels
lxml
urllib3
